<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LocationRuleMapper">
    
    <resultMap type="LocationRule" id="LocationRuleResult">
        <result property="id"    column="id"    />
        <result property="ruleCode"    column="rule_code"    />
        <result property="locRule"    column="loc_rule"    />
        <result property="startShelf"    column="start_shelf"    />
        <result property="endShelf"    column="end_shelf"    />
        <result property="isAuto"    column="is_auto"    />
        <result property="status"    column="status"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="yn"    column="yn"    />
        <result property="ts"    column="ts"    />
    </resultMap>

    <sql id="selectLocationRuleVo">
        select id, rule_code, loc_rule, start_shelf, end_shelf, is_auto, status, description, create_time, create_user, update_time, update_user, yn, ts from location_rule
    </sql>

    <select id="selectLocationRuleList" parameterType="LocationRule" resultMap="LocationRuleResult">
        <include refid="selectLocationRuleVo"/>
        <where>  
            <if test="ruleCode != null  and ruleCode != ''"> and rule_code = #{ruleCode}</if>
            <if test="locRule != null "> and loc_rule = #{locRule}</if>
            <if test="startShelf != null  and startShelf != ''"> and start_shelf = #{startShelf}</if>
            <if test="endShelf != null  and endShelf != ''"> and end_shelf = #{endShelf}</if>
            <if test="isAuto != null "> and is_auto = #{isAuto}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectLocationRuleById" parameterType="Long" resultMap="LocationRuleResult">
        <include refid="selectLocationRuleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLocationRule" parameterType="LocationRule" useGeneratedKeys="true" keyProperty="id">
        insert into location_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleCode != null and ruleCode != ''">rule_code,</if>
            <if test="locRule != null">loc_rule,</if>
            <if test="startShelf != null and startShelf != ''">start_shelf,</if>
            <if test="endShelf != null and endShelf != ''">end_shelf,</if>
            <if test="isAuto != null">is_auto,</if>
            <if test="status != null">status,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="yn != null">yn,</if>
            <if test="ts != null">ts,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleCode != null and ruleCode != ''">#{ruleCode},</if>
            <if test="locRule != null">#{locRule},</if>
            <if test="startShelf != null and startShelf != ''">#{startShelf},</if>
            <if test="endShelf != null and endShelf != ''">#{endShelf},</if>
            <if test="isAuto != null">#{isAuto},</if>
            <if test="status != null">#{status},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="yn != null">#{yn},</if>
            <if test="ts != null">#{ts},</if>
         </trim>
    </insert>

    <update id="updateLocationRule" parameterType="LocationRule">
        update location_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleCode != null and ruleCode != ''">rule_code = #{ruleCode},</if>
            <if test="locRule != null">loc_rule = #{locRule},</if>
            <if test="startShelf != null and startShelf != ''">start_shelf = #{startShelf},</if>
            <if test="endShelf != null and endShelf != ''">end_shelf = #{endShelf},</if>
            <if test="isAuto != null">is_auto = #{isAuto},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="yn != null">yn = #{yn},</if>
            <if test="ts != null">ts = #{ts},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLocationRuleById" parameterType="Long">
        delete from location_rule where id = #{id}
    </delete>

    <delete id="deleteLocationRuleByIds" parameterType="String">
        delete from location_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>