<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OrderInfoMapper">
    
    <resultMap type="OrderInfo" id="OrderInfoResult">
        <result property="id"    column="id"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="orderNo"    column="order_no"    />
        <result property="orderType"    column="order_type"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="orderOrigin"    column="order_origin"    />
        <result property="orderLevel"    column="order_level"    />
        <result property="custNo"    column="cust_no"    />
        <result property="custName"    column="cust_name"    />
        <result property="totalVolume"    column="total_volume"    />
        <result property="totalWeight"    column="total_weight"    />
        <result property="uuid"    column="uuid"    />
        <result property="receName"    column="rece_name"    />
        <result property="recePhone"    column="rece_phone"    />
        <result property="receAddress"    column="rece_address"    />
        <result property="hodeptName"    column="hodept_name"    />
        <result property="hodeptNo"    column="hodept_no"    />
        <result property="houserName"    column="houser_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="yn"    column="yn"    />
        <result property="ts"    column="ts"    />
        <result property="orderPriority"    column="order_priority"    />
        <result property="planDeliveryTime"    column="plan_delivery_time"    />
    </resultMap>

    <sql id="selectOrderInfoVo">
        select id, batch_no, order_no, order_type, order_status, order_origin, order_level, cust_no, cust_name, total_volume, total_weight, uuid, rece_name, rece_phone, rece_address, hodept_name, hodept_no, houser_name, create_time, create_user, update_time, update_user, yn, ts, order_priority, plan_delivery_time from order_info
    </sql>

    <select id="selectOrderInfoList" parameterType="OrderInfo" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        <where>  
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="orderType != null  and orderType != ''"> and order_type = #{orderType}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
            <if test="orderOrigin != null  and orderOrigin != ''"> and order_origin = #{orderOrigin}</if>
            <if test="orderLevel != null  and orderLevel != ''"> and order_level = #{orderLevel}</if>
            <if test="custNo != null  and custNo != ''"> and cust_no = #{custNo}</if>
            <if test="custName != null  and custName != ''"> and cust_name like concat('%', #{custName}, '%')</if>
            <if test="uuid != null  and uuid != ''"> and uuid = #{uuid}</if>
            <if test="hodeptName != null  and hodeptName != ''"> and hodept_name like concat('%', #{hodeptName}, '%')</if>
            <if test="orderPriority != null "> and order_priority = #{orderPriority}</if>
            <if test="planDeliveryTime != null "> and plan_delivery_time = #{planDeliveryTime}</if>
        </where>
    </select>
    
    <select id="selectOrderInfoById" parameterType="Long" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrderInfo" parameterType="OrderInfo" useGeneratedKeys="true" keyProperty="id">
        insert into order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">batch_no,</if>
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="orderType != null and orderType != ''">order_type,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="orderOrigin != null and orderOrigin != ''">order_origin,</if>
            <if test="orderLevel != null and orderLevel != ''">order_level,</if>
            <if test="custNo != null and custNo != ''">cust_no,</if>
            <if test="custName != null and custName != ''">cust_name,</if>
            <if test="totalVolume != null">total_volume,</if>
            <if test="totalWeight != null">total_weight,</if>
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="receName != null and receName != ''">rece_name,</if>
            <if test="recePhone != null and recePhone != ''">rece_phone,</if>
            <if test="receAddress != null and receAddress != ''">rece_address,</if>
            <if test="hodeptName != null and hodeptName != ''">hodept_name,</if>
            <if test="hodeptNo != null and hodeptNo != ''">hodept_no,</if>
            <if test="houserName != null and houserName != ''">houser_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createUser != null and createUser != ''">create_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null and updateUser != ''">update_user,</if>
            <if test="yn != null">yn,</if>
            <if test="ts != null">ts,</if>
            <if test="orderPriority != null">order_priority,</if>
            <if test="planDeliveryTime != null">plan_delivery_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">#{batchNo},</if>
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="orderType != null and orderType != ''">#{orderType},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="orderOrigin != null and orderOrigin != ''">#{orderOrigin},</if>
            <if test="orderLevel != null and orderLevel != ''">#{orderLevel},</if>
            <if test="custNo != null and custNo != ''">#{custNo},</if>
            <if test="custName != null and custName != ''">#{custName},</if>
            <if test="totalVolume != null">#{totalVolume},</if>
            <if test="totalWeight != null">#{totalWeight},</if>
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="receName != null and receName != ''">#{receName},</if>
            <if test="recePhone != null and recePhone != ''">#{recePhone},</if>
            <if test="receAddress != null and receAddress != ''">#{receAddress},</if>
            <if test="hodeptName != null and hodeptName != ''">#{hodeptName},</if>
            <if test="hodeptNo != null and hodeptNo != ''">#{hodeptNo},</if>
            <if test="houserName != null and houserName != ''">#{houserName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createUser != null and createUser != ''">#{createUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null and updateUser != ''">#{updateUser},</if>
            <if test="yn != null">#{yn},</if>
            <if test="ts != null">#{ts},</if>
            <if test="orderPriority != null">#{orderPriority},</if>
            <if test="planDeliveryTime != null">#{planDeliveryTime},</if>
         </trim>
    </insert>

    <update id="updateOrderInfo" parameterType="OrderInfo">
        update order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">batch_no = #{batchNo},</if>
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="orderType != null and orderType != ''">order_type = #{orderType},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="orderOrigin != null and orderOrigin != ''">order_origin = #{orderOrigin},</if>
            <if test="orderLevel != null and orderLevel != ''">order_level = #{orderLevel},</if>
            <if test="custNo != null and custNo != ''">cust_no = #{custNo},</if>
            <if test="custName != null and custName != ''">cust_name = #{custName},</if>
            <if test="totalVolume != null">total_volume = #{totalVolume},</if>
            <if test="totalWeight != null">total_weight = #{totalWeight},</if>
            <if test="uuid != null and uuid != ''">uuid = #{uuid},</if>
            <if test="receName != null and receName != ''">rece_name = #{receName},</if>
            <if test="recePhone != null and recePhone != ''">rece_phone = #{recePhone},</if>
            <if test="receAddress != null and receAddress != ''">rece_address = #{receAddress},</if>
            <if test="hodeptName != null and hodeptName != ''">hodept_name = #{hodeptName},</if>
            <if test="hodeptNo != null and hodeptNo != ''">hodept_no = #{hodeptNo},</if>
            <if test="houserName != null and houserName != ''">houser_name = #{houserName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null and createUser != ''">create_user = #{createUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
            <if test="yn != null">yn = #{yn},</if>
            <if test="ts != null">ts = #{ts},</if>
            <if test="orderPriority != null">order_priority = #{orderPriority},</if>
            <if test="planDeliveryTime != null">plan_delivery_time = #{planDeliveryTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderInfoById" parameterType="Long">
        delete from order_info where id = #{id}
    </delete>

    <delete id="deleteOrderInfoByIds" parameterType="String">
        delete from order_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>